.fullpage-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.fullpage-wp {
  display: flex;
  width: 100%;
  height: 100%;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.fullpage-wp.anim {
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 500ms ease-out 0s;
  transition: all 500ms ease-out 0s;
}

.fullpage-wp.fullpage-wp-h {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.page {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  overflow: hidden;
}

.animated {
  opacity: 1;
}
// 指示器样式
.indicator-ul {
  position: absolute;
  right: 15px;
  top: 50%;
  margin: 0;
  padding: 0;
  z-index: 888;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .indicator-li {
    display: block;
    width: 10px;
    height: 10px;
    margin: 8px;
    border-radius: 5px;
    position: relative;
    background-color: #fff;
    cursor: pointer;
    &:hover {
      background: #ff8244;
    }
    &.active {
      background: #ff8244;
    }
  }
}
