@import './variables.scss';

html {
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: $--color-text;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow: hidden;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: $--color-text;

  &:hover {
    color: $--color-primary;
  }
}

img {
  max-width: 100%;
}
